---
#apiVersion: v1
#kind: ConfigMap
#metadata:
#  name: rabbitmq-definitions
#  namespace: rabbitmq
#data:
#  definitions.json: |
#    {
#      "users": [
#        {
#          "name": "guest",
#          "password": "guest",
#          "tags": ["administrator"]
#        }
#      ],
#      "vhosts": [
#        {
#          "name": "/"
#        }
#      ],
#      "permissions": [
#        {
#          "user": "guest",
#          "vhost": "/",
#          "configure": ".*",
#          "write": ".*",
#          "read": ".*"
#        }
#      ],
#      "exchanges": [
#        {
#          "name": "my-exchange",
#          "vhost": "/",
#          "type": "topic",
#          "durable": true,
#          "auto_delete": false,
#          "internal": false,
#          "arguments": {}
#        },
#        {
#          "name": "my-direct-exchange",
#          "vhost": "/",
#          "type": "direct",
#          "durable": true,
#          "auto_delete": false,
#          "internal": false,
#          "arguments": {}
#        },
#        {
#          "name": "nazarii-exchange",
#          "vhost": "/",
#          "type": "topic",
#          "durable": true,
#          "auto_delete": false,
#          "internal": false,
#          "arguments": {}
#        },
#        {
#          "name": "some-cool-exchange",
#          "vhost": "/",
#          "type": "topic",
#          "durable": true,
#          "auto_delete": false,
#          "internal": false,
#          "arguments": {}
#        },
#        {
#          "name": "even-more-cool-exchange",
#          "vhost": "/",
#          "type": "topic",
#          "durable": true,
#          "auto_delete": false,
#          "internal": false,
#          "arguments": {}
#        },
#        {
#          "name": "banger",
#          "vhost": "/",
#          "type": "topic",
#          "durable": true,
#          "auto_delete": false,
#          "internal": false,
#          "arguments": {}
#        }
#      ],
#      "queues": [
#        {
#          "name": "my-queue",
#          "vhost": "/",
#          "durable": true,
#          "auto_delete": false,
#          "arguments": {}
#        }
#      ],
#      "bindings": [
#        {
#          "source": "my-exchange",
#          "vhost": "/",
#          "destination": "my-queue",
#          "destination_type": "queue",
#          "routing_key": "my.routing.key",
#          "arguments": {}
#        }
#      ]
#    }
---
apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: rabbitmq
  namespace: rabbitmq
  labels:
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/component: messaging
    environment: stage

spec:
  replicas: 1  # 2 replicas for stage (balance between HA testing and resources)
  
  image: rabbitmq:4.1.3-management
  
  resources:
    requests:
      cpu: 1  # Use millicores format to match Kubernetes normalization
      memory: 2Gi
    limits:
      cpu: 2  # Use millicores format to match Kubernetes normalization
      memory: 4Gi
      
  persistence:
    storage: 5Gi
    storageClassName: testing
  
  rabbitmq:
    additionalConfig: |
      # Load definitions on startup
      management.load_definitions = /etc/rabbitmq/definitions.json
      
      # Staging environment configuration
      # Note: cluster_formation.* and cluster_partition_handling are set by operator defaults

      # Memory and disk limits (overriding defaults for staging)
      vm_memory_high_watermark.relative = 0.6
      disk_free_limit.absolute = 1GB
      
      # Consumer timeout (15 minutes)
      consumer_timeout = 900000
      
      # Prometheus metrics (detailed)
      prometheus.return_per_object_metrics = true
      
      # High availability (overriding operator default)
      queue_master_locator = min-masters
      
      # Clustering (prod-like tuning)
      cluster_keepalive_interval = 10000
    
    additionalPlugins:
      - rabbitmq_shovel
      - rabbitmq_shovel_management
      - rabbitmq_federation
      - rabbitmq_federation_management
  
  service:
    type: ClusterIP
  
  override:
    statefulSet:
      spec:
        template:
          spec:
            containers:
              - name: rabbitmq
                volumeMounts:
                  - name: definitions
                    mountPath: /etc/rabbitmq/definitions.json
                    subPath: definitions.json
            volumes:
            - name: definitions
              configMap:
                name: rabbitmq-definitions

  
  # High availability - spread across nodes
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - rabbitmq
          topologyKey: kubernetes.io/hostname
  
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: rabbitmq
  namespace: rabbitmq
spec:
  minAvailable: 1 
  selector:
    matchLabels:
      app.kubernetes.io/name: rabbitmq
---